@font-face {
    font-family: "wood";
    src: url('../POLICE/AlphaWood.ttf');
}

body {
	background-image: url("../IMG/background.jpg");
	display: block;
	background-attachment: fixed;
}

table {
	
}

h1 {
	font-family: wood;
	text-align: center;
	color: white;
	font-size: 4em;
	letter-spacing: 0.8em;
	text-shadow: 0.1em 0.1em #000;
}

h2 {
	font-family: wood;
}

.actu {
	display; inline;
	margin: 0 0 0 27%;
}

header {
	background-image: url("../IMG/banniere.jpg");
}

.vertical-menu {
    width: 200px;
	float: left;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #339966;
    color: white;
}

.twitter-timeline {
	float: right;
	margin: 0 7px 0 0;
	display: inline;
	position: absolute;
}